In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [199]:
df = pd.read_csv("/hdd/physio/vf/finaldfs/trybonsaifeatures3.csv", index_col = 0)
df

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221
...,...,...,...,...,...,...,...,...
3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165
3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778
3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649
3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651
3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601

In [19]:
%%time
final = pd.read_csv("/hdd/physio/af/rpeakdf.csv", index_col = 0)
final

CPU times: user 1min 16s, sys: 3.41 s, total: 1min 20s
Wall time: 1min 21s

,af,0,1,2,3,4,5,6,7,8,...,14990,14991,14992,14993,14994,14995,14996,14997,14998,14999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14036,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14037,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14038,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14039,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14040,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
np.isfinite(df).values.all()

True

In [8]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df = df.dropna(how="all", inplace = False)
df.drop(columns = ['mean_hr', 'max_hr', 'triangular_index'], inplace = True)

In [9]:
df.drop(columns = ['pnni_50', 'pnni_20'], inplace = True)
df

,vf,mean_nni,sdnn,sdsd,nni_50,nni_20,rmssd,median_nni,range_nni,cvsd,cvnni,min_hr,lf,hf,total_power,vlf
0,0,748.250000,349.501907,6.649979,3.0,3.0,270.415113,752.0,811.0,0.361397,0.467092,52.173913,1939.478779,8359.852738,10740.573054,441.241538
1,0,656.250000,338.112777,1.414214,3.0,3.0,262.003817,655.5,786.0,0.399244,0.515219,57.142857,1712.922367,7112.985993,9249.068433,423.160073
2,0,690.400000,419.965237,5.117372,4.0,4.0,266.299174,689.0,1065.0,0.385717,0.608293,48.939641,4196.568751,15537.499334,20534.333244,800.265159
3,0,597.600000,422.650328,5.123475,4.0,4.0,266.549245,601.0,1066.0,0.446033,0.707246,53.097345,3692.942083,13527.269270,18097.231413,877.020061
4,0,640.750000,345.356217,4.642796,3.0,3.0,267.706929,638.0,803.0,0.417802,0.538987,57.416268,1816.833024,7521.108213,9787.482645,449.541409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,1,459.400000,314.091229,102.611829,4.0,4.0,221.900315,351.0,787.0,0.483022,0.683699,63.965885,1056.532665,6478.046782,7743.907815,209.328367
3724,1,657.666667,345.503015,2.500000,2.0,2.0,345.509045,656.0,691.0,0.525356,0.525347,59.760956,1200.645300,3961.072822,5514.092053,352.373932
3725,1,549.000000,444.621187,2.494438,3.0,3.0,344.675693,550.0,1034.0,0.627825,0.809875,56.338028,3101.967972,10454.393243,14430.419775,874.058561
3726,1,612.500000,444.877137,0.942809,3.0,3.0,344.667956,612.0,1034.0,0.562723,0.726330,53.097345,3197.495564,11879.347598,15915.072325,838.229163
3727,1,680.250000,449.655702,2.054805,3.0,3.0,348.339394,679.0,1045.0,0.512076,0.661015,49.833887,3363.977055,13430.154948,17599.920092,805.788089

In [10]:
# df = df[df.columns[:17]]
df

,vf,mean_nni,sdnn,sdsd,nni_50,nni_20,rmssd,median_nni,range_nni,cvsd,cvnni,min_hr,lf,hf,total_power,vlf
0,0,748.250000,349.501907,6.649979,3.0,3.0,270.415113,752.0,811.0,0.361397,0.467092,52.173913,1939.478779,8359.852738,10740.573054,441.241538
1,0,656.250000,338.112777,1.414214,3.0,3.0,262.003817,655.5,786.0,0.399244,0.515219,57.142857,1712.922367,7112.985993,9249.068433,423.160073
2,0,690.400000,419.965237,5.117372,4.0,4.0,266.299174,689.0,1065.0,0.385717,0.608293,48.939641,4196.568751,15537.499334,20534.333244,800.265159
3,0,597.600000,422.650328,5.123475,4.0,4.0,266.549245,601.0,1066.0,0.446033,0.707246,53.097345,3692.942083,13527.269270,18097.231413,877.020061
4,0,640.750000,345.356217,4.642796,3.0,3.0,267.706929,638.0,803.0,0.417802,0.538987,57.416268,1816.833024,7521.108213,9787.482645,449.541409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,1,459.400000,314.091229,102.611829,4.0,4.0,221.900315,351.0,787.0,0.483022,0.683699,63.965885,1056.532665,6478.046782,7743.907815,209.328367
3724,1,657.666667,345.503015,2.500000,2.0,2.0,345.509045,656.0,691.0,0.525356,0.525347,59.760956,1200.645300,3961.072822,5514.092053,352.373932
3725,1,549.000000,444.621187,2.494438,3.0,3.0,344.675693,550.0,1034.0,0.627825,0.809875,56.338028,3101.967972,10454.393243,14430.419775,874.058561
3726,1,612.500000,444.877137,0.942809,3.0,3.0,344.667956,612.0,1034.0,0.562723,0.726330,53.097345,3197.495564,11879.347598,15915.072325,838.229163
3727,1,680.250000,449.655702,2.054805,3.0,3.0,348.339394,679.0,1045.0,0.512076,0.661015,49.833887,3363.977055,13430.154948,17599.920092,805.788089

In [23]:
# split the data into train and test set
train, test = train_test_split(finaldf, test_size=0.2, random_state=42, shuffle=True)

In [24]:
train = train.to_numpy()
# test2 = test2.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/try8"
# path = "/hdd/physio/edgeml/examples/pytorch/FastCells/tryforbonsai1"

np.save(path + '/train.npy', train)
# np.save(path + '/test.npy', test)

array([[0.00000000e+00, 5.85500000e+02, 3.83496632e+02, ...,
        2.96532741e+02, 5.91500000e+02, 8.89000000e+02],
       [0.00000000e+00, 6.07571429e+02, 3.93952559e+02, ...,
        1.82528080e+02, 6.03000000e+02, 1.09500000e+03],
       [0.00000000e+00, 5.88000000e+02, 3.63692570e+02, ...,
        1.48433246e+02, 5.87000000e+02, 1.03900000e+03],
       ...,
       [1.00000000e+00, 6.39846154e+02, 3.60199215e+02, ...,
        9.24504372e+01, 6.42000000e+02, 1.10900000e+03],
       [0.00000000e+00, 6.22833333e+02, 3.43009281e+02, ...,
        1.83412650e+02, 6.25000000e+02, 9.17000000e+02],
       [0.00000000e+00, 6.28125000e+02, 3.65411485e+02, ...,
        1.49143268e+02, 6.28500000e+02, 1.04400000e+03]])

<h2><ins>NORMALIZATION:</ins></h2>

In [3]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [17]:
df = pd.read_csv("/hdd/physio/vf/finaldfs/trybonsaifeatures.csv", index_col = 0)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df = df.dropna(how="any", inplace = False)
# df.drop(columns = ['mean_hr', 'max_hr', 'triangular_index', 'pnni_50', 'pnni_20'], inplace = True)

In [18]:
df

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221
...,...,...,...,...,...,...,...,...
3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165
3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778
3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649
3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651
3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601

In [22]:
train, test = train_test_split(finaldf, test_size=0.2, random_state=42, shuffle=True)
# scaler = MinMaxScaler()
train[train.columns[1:]] = scaler.fit_transform(train[train.columns[1:]])
test[test.columns[1:]] = scaler.transform(test[test.columns[1:]])

In [59]:
train = train.to_numpy()
test = test.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/try1-af"
# path = "/hdd/physio/edgeml/examples/pytorch/FastCells/tryforbonsai1"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

In [20]:
%%time
def featureExtraction(df, fs):
    df1 = df.af.copy()
    df.drop(columns = ['af'], inplace = True)
    final = list()
    for i in range(len(df)):
        peaks = []
        peaks = df.loc[i][df.loc[i] == 1].index.values
        peaks = [int(x) for x in peaks]
        if (len(peaks) == 0 or len(peaks) == 1):
            continue
        af = df1.loc[i]
        rr = np.diff(peaks) / fs 
        hr = 60 / rr
        rmssd = np.sqrt(np.mean(np.square(rr)))
        sdnn = np.std(rr)
        mean_rr = np.mean(rr)
        mean_hr = np.mean(hr)
        std_hr = np.std(hr)
        min_hr = np.min(hr)
        max_hr = np.max(hr)
#         print(rmssd, sdnn, mean_rr, mean_hr, std_hr, min_hr, max_hr); break
        single_window_df = pd.DataFrame([[rmssd, sdnn, mean_rr, mean_hr, std_hr, min_hr, max_hr]], columns = ['RMSSD', 'STDNN', 'MEAN_RR', 'MEAN_HR', 'STD_HR', 'MIN_HR', 'MAX_HR'])
#         single_window_df = single_window_df.transpose()
#         columns = single_window_df.iloc[0]
#         single_window_df = single_window_df[1:]
#         single_window_df.columns = columns
#         single_window_df.drop(columns = ['std_hr', 'tinn', 'lf_hf_ratio', 'lfnu', 'hfnu'], inplace = True)
        single_window_df.insert(0, 'vf', af)
        final.append(single_window_df)
        del single_window_df
    return pd.concat(final)

# start = time()
finaldf = featureExtraction(final, 250)
finaldf.reset_index(drop = True, inplace = True)
# print("Executed in {0} seconds".format((time() - start)))

CPU times: user 46 s, sys: 2.91 s, total: 48.9 s
Wall time: 48.8 s

In [21]:
finaldf

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,0.720403,0.199647,0.692186,95.439177,31.962709,52.264808,202.702703
1,0,0.685475,0.209389,0.652711,101.701272,33.196907,50.675676,254.237288
2,0,0.718068,0.221976,0.682897,96.715793,28.657022,49.342105,170.454545
3,0,0.624761,0.193625,0.594000,112.472761,36.208551,60.728745,194.805195
4,0,0.730429,0.230748,0.693023,95.938086,29.934269,43.859649,192.307692
...,...,...,...,...,...,...,...,...
13736,1,0.590872,0.144073,0.573038,111.217703,28.102676,62.500000,267.857143
13737,1,0.581287,0.174410,0.554505,122.422290,50.413662,61.475410,300.000000
13738,1,0.608186,0.160637,0.586588,111.637412,38.230319,55.762082,300.000000
13739,1,0.596773,0.155941,0.576039,112.426787,33.248685,63.025210,245.901639
13740,1,0.577364,0.348516,0.460310,164.467461,66.663040,17.026107,300.000000

In [49]:
df = pd.read_csv("/hdd/physio/af/rpeakdf.csv", index_col = 0)
df

,af,0,1,2,3,4,5,6,7,8,...,14990,14991,14992,14993,14994,14995,14996,14997,14998,14999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14036,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14037,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14038,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14039,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14040,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
%%time

newdf_list = list()
af_column = df.af.copy()
for i in range(1, len(df.columns)-9, 10):
#     print((df[i:i+10]).mean(axis = 1)); break
    newdf_list.append((df[df.columns[i:i+11]]).mean(axis = 1))

newdf4 = pd.concat(newdf_list, axis = 1)
newdf4.insert(0, 'af', af_column)
newdf4

CPU times: user 4.45 s, sys: 727 ms, total: 5.17 s
Wall time: 5.37 s

,af,0,1,2,3,4,5,6,7,8,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,0,-0.298182,-0.288636,-0.152727,-0.203182,-0.275909,-0.091818,-0.853182,-0.425909,-0.460909,...,0.398636,0.518182,0.453182,0.409091,0.640909,-0.179545,0.252727,0.228636,0.143182,-0.0355
1,0,-0.308182,-0.372727,0.012727,0.195909,0.140000,0.100455,0.054091,0.027727,0.025909,...,-0.787727,-0.485000,-0.438182,-0.430909,-0.452273,-0.454545,-0.445909,-0.428182,-0.414545,-0.3965
2,0,-0.240909,-0.326818,-0.219091,-0.444091,-0.686818,-0.429091,-0.436818,-0.509091,-0.717273,...,-0.124091,-0.152273,-0.293636,-0.414091,-0.443182,-0.370455,-0.036818,-0.098636,-0.185000,0.1520
3,0,-0.935000,-0.363636,-0.209091,-0.270000,-0.517727,-0.579091,-0.535909,-0.272727,-0.157727,...,-0.634091,-0.386364,-0.332273,-0.392273,-0.492727,-0.485455,-0.477727,-0.489545,-0.484091,-0.4805
4,0,-0.493636,-0.509091,-0.511818,-0.500455,-0.495455,-0.451818,-0.267727,-0.538636,-0.310909,...,-0.727727,-0.699545,-0.652273,-0.595000,-0.542273,-0.493636,-0.468636,-0.451364,-0.437727,-0.4220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14036,1,-0.266818,-0.125000,-0.283636,-0.163182,-0.210000,-0.207273,-0.259545,-0.276364,-0.111364,...,-0.385909,-0.204545,-0.520909,-0.342727,-0.254545,-0.534091,-0.207727,-0.458182,-0.441818,-0.2315
14037,1,-0.526818,-0.296364,-0.358182,-0.539091,-0.261818,-0.445455,-0.464091,-0.241818,-0.518636,...,-0.213636,-0.496818,-0.219091,-0.300909,-0.480455,-0.176364,-0.395455,-0.378636,-0.171364,-0.3980
14038,1,-0.229091,-0.280455,-0.359091,-0.239091,-0.330455,-0.282727,-0.260909,-0.334545,-0.233636,...,-0.185455,-0.294091,-0.118636,-0.200455,-0.246364,-0.138182,-0.199545,-0.198182,-0.132273,-0.2860
14039,1,-0.170000,-0.194545,-0.297727,-0.155000,-0.197727,-0.313636,-0.147273,-0.225455,-0.321364,...,-0.256818,-0.233182,-0.388182,-0.248636,-0.254091,-0.356818,-0.215000,-0.304091,-0.347273,-0.2045
14040,1,-0.292273,-0.344091,-0.269091,-0.230909,-0.333636,-0.200455,-0.248636,-0.304545,-0.186818,...,-0.201818,-0.217727,-0.198182,-0.176364,-0.194091,-0.173182,-0.170000,-0.163636,-0.173636,-0.1470

In [34]:
newdf4.to_csv('/hdd/physio/af/hugedfby10.csv')

In [36]:
newdf4.isna().values.any()

False

In [27]:
newdf4 = pd.read_csv('/hdd/physio/af/hugedfby10.csv')

In [28]:
newdf4

,Unnamed: 0,af,0,1,2,3,4,5,6,7,...,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402
0,1,0,-0.332846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,-0.244549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,-0.272272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,-0.304225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,-0.233769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14025,14026,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.286884
14026,14027,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.254939
14027,14028,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.352475
14028,14029,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.297423
14029,14030,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.187688

In [5]:
df.dropna(how = 'any', inplace = True)
df.reset_index(drop = True, inplace = True)
df

,af,0,1,2,3,4,5,6,7,8,...,14990,14991,14992,14993,14994,14995,14996,14997,14998,14999
0,0,-0.275,-0.295,-0.310,-0.315,-0.300,-0.320,-0.300,-0.300,-0.290,...,0.070,0.015,0.005,0.005,-0.025,-0.020,-0.055,-0.075,-0.125,-0.150
1,0,-0.195,-0.220,-0.245,-0.250,-0.315,-0.300,-0.315,-0.350,-0.380,...,-0.425,-0.395,-0.395,-0.385,-0.405,-0.445,-0.415,-0.420,-0.360,-0.320
2,0,-0.285,-0.245,-0.270,-0.250,-0.230,-0.215,-0.215,-0.225,-0.260,...,-0.320,-0.265,-0.185,-0.120,-0.005,0.165,0.410,0.590,0.660,0.590
3,0,0.000,-0.925,-1.560,-1.800,-1.705,-1.335,-0.945,-0.665,-0.510,...,-0.485,-0.495,-0.495,-0.490,-0.445,-0.420,-0.450,-0.455,-0.520,-0.550
4,0,-0.560,-0.540,-0.530,-0.505,-0.505,-0.465,-0.465,-0.480,-0.440,...,-0.375,-0.380,-0.390,-0.405,-0.425,-0.440,-0.465,-0.450,-0.450,-0.440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14036,1,-0.295,0.140,0.110,-0.485,-0.935,-0.690,-0.115,0.000,-0.360,...,-0.060,0.325,-0.010,-0.620,-0.615,-0.190,-0.300,-0.595,-0.305,0.055
14037,1,-0.230,-0.890,-1.000,-0.430,-0.105,-0.420,-0.550,-0.200,-0.245,...,-0.090,-0.720,-1.060,-0.715,-0.140,-0.110,-0.430,-0.375,-0.060,-0.280
14038,1,-0.665,-0.500,0.110,0.400,0.030,-0.460,-0.385,-0.080,-0.270,...,-0.300,0.135,0.160,-0.400,-0.905,-0.705,-0.125,-0.070,-0.400,-0.250
14039,1,0.075,-0.190,-0.695,-0.660,-0.005,0.395,0.115,-0.365,-0.265,...,-0.125,-0.425,-0.300,-0.130,-0.420,-0.660,-0.285,0.265,0.265,-0.230
14040,1,-0.480,-0.220,-0.140,-0.465,-0.415,0.050,0.215,-0.240,-0.730,...,-0.145,-0.145,-0.180,-0.110,-0.075,-0.095,-0.170,-0.210,-0.180,-0.160

In [12]:
df

NameError: name 'df' is not defined

In [46]:
train, test = train_test_split(newdf3, test_size=0.2, random_state=42, shuffle=True)

train = train.to_numpy()
test = test.to_numpy()

# path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/try7"
path = "/hdd/physio/edgeml/examples/pytorch/FastCells/try7-af"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

In [7]:
from imblearn.under_sampling import TomekLinks
tomek = TomekLinks()

In [17]:
%%time
df = pd.read_csv('/hdd/physio/af/hugedfby10.csv', index_col = 0)
df

train, test = train_test_split(df, test_size=0.2, random_state=42, shuffle=True)

train = train.to_numpy()
test = test.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/FastCells/tryaffast"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

CPU times: user 5.12 s, sys: 188 ms, total: 5.31 s
Wall time: 6.9 s

In [18]:
df

,af,0,1,2,3,4,5,6,7,8,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,0,-0.298182,-0.288636,-0.152727,-0.203182,-0.275909,-0.091818,-0.853182,-0.425909,-0.460909,...,0.398636,0.518182,0.453182,0.409091,0.640909,-0.179545,0.252727,0.228636,0.143182,-0.0355
1,0,-0.308182,-0.372727,0.012727,0.195909,0.140000,0.100455,0.054091,0.027727,0.025909,...,-0.787727,-0.485000,-0.438182,-0.430909,-0.452273,-0.454545,-0.445909,-0.428182,-0.414545,-0.3965
2,0,-0.240909,-0.326818,-0.219091,-0.444091,-0.686818,-0.429091,-0.436818,-0.509091,-0.717273,...,-0.124091,-0.152273,-0.293636,-0.414091,-0.443182,-0.370455,-0.036818,-0.098636,-0.185000,0.1520
3,0,-0.935000,-0.363636,-0.209091,-0.270000,-0.517727,-0.579091,-0.535909,-0.272727,-0.157727,...,-0.634091,-0.386364,-0.332273,-0.392273,-0.492727,-0.485455,-0.477727,-0.489545,-0.484091,-0.4805
4,0,-0.493636,-0.509091,-0.511818,-0.500455,-0.495455,-0.451818,-0.267727,-0.538636,-0.310909,...,-0.727727,-0.699545,-0.652273,-0.595000,-0.542273,-0.493636,-0.468636,-0.451364,-0.437727,-0.4220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14036,1,-0.266818,-0.125000,-0.283636,-0.163182,-0.210000,-0.207273,-0.259545,-0.276364,-0.111364,...,-0.385909,-0.204545,-0.520909,-0.342727,-0.254545,-0.534091,-0.207727,-0.458182,-0.441818,-0.2315
14037,1,-0.526818,-0.296364,-0.358182,-0.539091,-0.261818,-0.445455,-0.464091,-0.241818,-0.518636,...,-0.213636,-0.496818,-0.219091,-0.300909,-0.480455,-0.176364,-0.395455,-0.378636,-0.171364,-0.3980
14038,1,-0.229091,-0.280455,-0.359091,-0.239091,-0.330455,-0.282727,-0.260909,-0.334545,-0.233636,...,-0.185455,-0.294091,-0.118636,-0.200455,-0.246364,-0.138182,-0.199545,-0.198182,-0.132273,-0.2860
14039,1,-0.170000,-0.194545,-0.297727,-0.155000,-0.197727,-0.313636,-0.147273,-0.225455,-0.321364,...,-0.256818,-0.233182,-0.388182,-0.248636,-0.254091,-0.356818,-0.215000,-0.304091,-0.347273,-0.2045
14040,1,-0.292273,-0.344091,-0.269091,-0.230909,-0.333636,-0.200455,-0.248636,-0.304545,-0.186818,...,-0.201818,-0.217727,-0.198182,-0.176364,-0.194091,-0.173182,-0.170000,-0.163636,-0.173636,-0.1470

<h1><ins>VF+AF</ins></h1>

In [76]:
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [77]:
scaler = StandardScaler()

In [2]:
%%time
afdf = pd.read_csv('/hdd/physio/af/rpeakdf.csv', index_col = 0)
vfd = pd.read_csv("/hdd/physio/vf/finaldfs/trybonsaifeatures3.csv", index_col = 0)

CPU times: user 49.8 s, sys: 812 ms, total: 50.6 s
Wall time: 52.3 s

In [3]:
%%time
def featureExtraction(df, fs):
    df1 = df.af.copy()
    df.drop(columns = ['af'], inplace = True)
    final = list()
    for i in range(len(df)):
        peaks = []
        peaks = df.loc[i][df.loc[i] == 1].index.values
        peaks = [int(x) for x in peaks]
        if (len(peaks) == 0 or len(peaks) == 1):
            continue
        af = df1.loc[i]
        rr = np.diff(peaks) / fs 
        hr = 60 / rr
        rmssd = np.sqrt(np.mean(np.square(rr)))
        sdnn = np.std(rr)
        mean_rr = np.mean(rr)
        mean_hr = np.mean(hr)
        std_hr = np.std(hr)
        min_hr = np.min(hr)
        max_hr = np.max(hr)
        single_window_df = pd.DataFrame([[rmssd, sdnn, mean_rr, mean_hr, std_hr, min_hr, max_hr]], columns = ['RMSSD', 'STDNN', 'MEAN_RR', 'MEAN_HR', 'STD_HR', 'MIN_HR', 'MAX_HR'])
        single_window_df.insert(0, 'ground_truth', af)
        final.append(single_window_df)
        del single_window_df
    return pd.concat(final)

# afd = featureExtraction(afdf, 250)
# afd.reset_index(drop = True, inplace = True)
vfd = featureExtraction(vfdf, 250)
vfd.reset_index(drop = True, inplace = True)

CPU times: user 32.7 s, sys: 213 ms, total: 32.9 s
Wall time: 32.9 s

In [4]:
vfd.rename(columns = {'vf': 'ground_truth'}, inplace = True)
vfd

,ground_truth,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221
...,...,...,...,...,...,...,...,...
3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165
3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778
3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649
3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651
3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601

In [9]:
data = pd.concat([afd, vfd[:2000]], axis = 0)
data

,ground_truth,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,0.720403,0.199647,0.692186,95.439177,31.962709,52.264808,202.702703
1,0,0.685475,0.209389,0.652711,101.701272,33.196907,50.675676,254.237288
2,0,0.718068,0.221976,0.682897,96.715793,28.657022,49.342105,170.454545
3,0,0.624761,0.193625,0.594000,112.472761,36.208551,60.728745,194.805195
4,0,0.730429,0.230748,0.693023,95.938086,29.934269,43.859649,192.307692
...,...,...,...,...,...,...,...,...
1995,1,0.320000,0.000000,0.320000,187.500000,0.000000,187.500000,187.500000
1996,0,0.730280,0.065540,0.727333,83.143787,7.259160,70.754717,94.339623
1997,0,0.698771,0.038418,0.697714,86.258796,4.795131,79.787234,94.339623
1998,0,0.696291,0.020133,0.696000,86.279357,2.505909,82.872928,90.361446
1999,0,0.696184,0.016000,0.696000,86.252949,2.003812,83.798883,89.820359

In [11]:
# train, test = train_test_split(data, test_size=0.2, random_state=42, shuffle=True)

# train = data
# train = train.to_numpy()
test = vfd[2000:]
test = test.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/try2vfaf"

# np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

In [178]:
frame = pd.read_csv('/hdd/physio/vf2/rpeakfeats40df.csv', index_col = 0)
dat = pd.read_csv('/hdd/physio/vf/finaldfs/trybonsaifeatures3.csv', index_col = 0)
dat

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221
...,...,...,...,...,...,...,...,...
3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165
3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778
3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649
3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651
3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601

In [173]:
frame.describe()

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
count,5519.000000,5519.000000,5519.000000,5519.000000,5519.000000,5519.000000,5519.000000,5519.000000
mean,0.406595,0.727104,0.112826,0.708937,104.548147,20.173163,75.118541,135.679331
std,0.491243,0.306597,0.119441,0.305118,37.680188,17.949078,25.177756,60.399985
min,0.000000,0.300426,0.000000,0.300000,13.901761,0.000000,13.901761,13.901761
25%,0.000000,0.495020,0.019956,0.474800,67.607472,1.691655,54.347826,73.891626
50%,0.000000,0.597076,0.092168,0.585143,110.307537,19.709865,73.170732,147.058824
75%,1.000000,0.909413,0.153371,0.902400,137.231137,35.309649,93.750000,189.873418
max,1.000000,4.316000,1.666000,4.316000,200.570512,83.200482,189.873418,238.095238

In [174]:
dat.describe()

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
count,3728.000000,3728.000000,3728.000000,3728.000000,3728.000000,3728.000000,3728.000000,3728.000000
mean,0.306599,0.754041,0.111176,0.732982,99.563097,16.078041,77.326587,122.761918
std,0.461143,0.373724,0.159013,0.365165,32.055619,17.587056,27.741189,49.680256
min,0.000000,0.284000,0.000000,0.284000,12.355848,0.000000,12.355848,12.355848
25%,0.000000,0.545141,0.005844,0.534167,79.449510,0.571011,57.197486,83.682495
50%,0.000000,0.684905,0.043153,0.656619,98.185194,7.161989,78.125000,112.781955
75%,1.000000,0.819428,0.162685,0.778600,119.653589,29.500426,95.541401,168.539326
max,1.000000,4.856000,1.486000,4.856000,211.267606,100.579092,211.267606,238.095238

In [175]:
frame.vf.value_counts()

0    3275
1    2244
Name: vf, dtype: int64

In [176]:
dat.vf.value_counts()

0    2585
1    1143
Name: vf, dtype: int64

In [42]:
dat = dat.drop(dat[dat['vf'].eq(0)].sample(750).index)
dat.reset_index(drop = True, inplace = True)

In [167]:
train, frame = train_test_split(frame, test_size=0.2, random_state=42, shuffle=True)

In [177]:
# train, test = train_test_split(frame, test_size=0.2, random_state=42, shuffle=True)

train = dat
# train[train.columns[1:]] = scaler.fit_transform(train[train.columns[1:]])
train = train.to_numpy()
test = frame
# test[test.columns[1:]] = scaler.transform(test[test.columns[1:]])
test = test.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/try2vfcu"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

In [69]:
frame.vf.value_counts()

0    650
1    454
Name: vf, dtype: int64

In [71]:
frame.vf.value_counts(), dat.vf.value_counts()

(0    650
 1    454
 Name: vf, dtype: int64, 0    2585
 1    1143
 Name: vf, dtype: int64)

## <ins>Andha equal splitting vf and cu</ins>

In [127]:
print(dat.vf.value_counts(), '\n', frame.vf.value_counts())

0    2585
1    1143
Name: vf, dtype: int64
 0    16275
1     2244
Name: vf, dtype: int64

In [146]:
dat0 = dat[dat.vf == 0][:1143].reset_index(drop = True)
dat1 = dat[dat.vf == 1].reset_index(drop = True)

In [148]:
dat0

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221
...,...,...,...,...,...,...,...,...
1138,0,1.418001,0.002000,1.418000,42.313201,0.059680,42.253521,42.372881
1139,0,1.422001,0.002000,1.422000,42.194176,0.059345,42.134831,42.253521
1140,0,1.428004,0.003266,1.428000,42.017027,0.096098,41.899441,42.134831
1141,0,1.434672,0.003771,1.434667,41.821850,0.109731,41.666667,41.899441
1142,0,1.442001,0.002000,1.442000,41.608957,0.057710,41.551247,41.666667

In [149]:
frame0 = frame[frame.vf == 0][:1143].reset_index(drop = True)
frame1 = frame[frame.vf == 1][:1143].reset_index(drop = True)

In [162]:
# train

def _train(df, split):
    return df[df.index < (split * len(df))]

# test

def _test(df, split):
    return df[df.index > (split * len(df))]

train, test = list(), list()
for d in [dat0, dat1]:
    train.append(_train(d, 0.8))

train = pd.concat(train, axis = 0).reset_index(drop = True)
    
for d in [frame0, frame1]:
    test.append(_test(d, 0.8))
    
test = pd.concat(test, axis = 0).reset_index(drop = True)

In [163]:
train.vf.value_counts()

0    915
1    915
Name: vf, dtype: int64

In [164]:
test.vf.value_counts()

0    228
1    228
Name: vf, dtype: int64

In [165]:
train = train.to_numpy()
test = test.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/tryeqsplitvfcu"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

In [197]:
# train, test = train_test_split(dat, test_size = 0.2, shuffle = True)

train = train.to_numpy()
test = test.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/try8"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

In [186]:
dat.vf.value_counts()

0    2585
1    1143
Name: vf, dtype: int64

In [189]:
data0 = dat[dat.vf == 0][:1143].reset_index(drop = True)
data1 = dat[dat.vf == 1].reset_index(drop = True)

In [193]:
# train

def _train(df, split):
    return df[df.index < (split * len(df))]

# test

def _test(df, split):
    return df[df.index > (split * len(df))]

train, test = list(), list()
for d in [data0, data1]:
    train.append(_train(d, 0.8))

train = pd.concat(train, axis = 0).reset_index(drop = True)
    
for d in [data0, data1]:
    test.append(_test(d, 0.8))
    
test = pd.concat(test, axis = 0).reset_index(drop = True)

In [195]:
train.vf.value_counts()

0    915
1    915
Name: vf, dtype: int64

In [196]:
test.vf.value_counts()

0    228
1    228
Name: vf, dtype: int64

In [201]:
newdf = pd.read_csv('/hdd/physio/vf/finaldfs/CUDB_Bonsai_time_frequency_features.csv')
newdf

,vf,RMSSD,SDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR,lf,hf,total_power,vlf
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264,1939.478779,8359.852738,10740.573054,441.241538
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264,1712.922367,7112.985993,9249.068433,423.160073
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908,4196.568751,15537.499334,20534.333244,800.265159
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908,3692.942083,13527.269270,18097.231413,877.020061
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221,1816.833024,7521.108213,9787.482645,449.541409
...,...,...,...,...,...,...,...,...,...,...,...,...
3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165,1056.532665,6478.046782,7743.907815,209.328367
3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778,1200.645300,3961.072822,5514.092053,352.373932
3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649,3101.967972,10454.393243,14430.419775,874.058561
3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651,3197.495564,11879.347598,15915.072325,838.229163
3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601,3363.977055,13430.154948,17599.920092,805.788089

In [210]:
_1 = newdf[newdf.vf == 1].reset_index(drop = True)
_0 = newdf[newdf.vf == 0].reset_index(drop = True)[:1143]
newdf = pd.concat([_1, _0], axis = 0)

In [212]:
# train, test = train_test_split(newdf, test_size = 0.1, shuffle = True)

train = pd.concat([_1[:1000], _0[:1000]])
train = train.sample(frac = 1).reset_index(drop = True)
train = train.to_numpy()

test = pd.concat([_1[1000:], _0[1000:]])
test = test.sample(frac = 1).reset_index(drop = True)
test = test.to_numpy()

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_CUDB_test_CUDB"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

## Train, Test => AFDB, 2017

### Feature Extraction:

In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from numpy.lib.stride_tricks import as_strided as strided

In [2]:
%%time
afdb = pd.read_csv('/hdd/physio/af/hugedfrpeak5sec.csv', index_col = 0).reset_index(drop = True)
chdb = pd.read_csv('/hdd/physio/af2/finaldfs/2017final_normal_rpeak_L5_S1.csv')

CPU times: user 2min 2s, sys: 1min 1s, total: 3min 4s
Wall time: 3min 20s

In [3]:
afdb.shape, chdb.shape

((787154, 1251), (163593, 1251))

In [4]:
afdb.af.value_counts(), chdb.af.value_counts()

(0    473522
 1    313632
 Name: af, dtype: int64, 0    142189
 1     21404
 Name: af, dtype: int64)

In [5]:
%%time
def featureExtraction(df, fs):
    df1 = df.af.copy()
    df.drop(columns = ['af'], inplace = True)
    final = list()
    for i in range(len(df)):
        peaks = []
        peaks = df.loc[i][df.loc[i] == 1].index.values
        peaks = [int(x) for x in peaks]
        if (len(peaks) == 0 or len(peaks) == 1):
            continue
        af = df1.loc[i]
        rr = np.diff(peaks) / fs 
        hr = 60 / rr
        rmssd = np.sqrt(np.mean(np.square(rr)))
        sdnn = np.std(rr)
        mean_rr = np.mean(rr)
        mean_hr = np.mean(hr)
        std_hr = np.std(hr)
        min_hr = np.min(hr)
        max_hr = np.max(hr)
        single_window_df = pd.DataFrame([[rmssd, sdnn, mean_rr, mean_hr, std_hr, min_hr, max_hr]], columns = ['RMSSD', 'STDNN', 'MEAN_RR', 'MEAN_HR', 'STD_HR', 'MIN_HR', 'MAX_HR'])
        single_window_df.insert(0, 'af', af)
        final.append(single_window_df)
        del single_window_df
    return pd.concat(final)

afd = featureExtraction(afdb, 250)
afd.reset_index(drop = True, inplace = True)
chd = featureExtraction(chdb, 250)
chd.reset_index(drop = True, inplace = True)

CPU times: user 31min 58s, sys: 24.1 s, total: 32min 22s
Wall time: 32min 36s

In [6]:
afd.shape, chd.shape

((769299, 8), (162628, 8))

In [11]:
afd.to_csv('/hdd/physio/af/hugedf5secfeatures.csv', index = False)

In [12]:
chd.to_csv('/hdd/physio/af2/finaldfs/2017features.csv', index = False)

### Train AFDB, Test 2017, Run Bonsai

In [2]:
%%time
afd = pd.read_csv('/hdd/physio/af/hugedf5secfeatures.csv')
chd = pd.read_csv('/hdd/physio/af2/finaldfs/2017features.csv')

CPU times: user 838 ms, sys: 85.5 ms, total: 924 ms
Wall time: 1.72 s

In [10]:
%%time
_0 = afd[afd.af == 0].sample(n = 15000).reset_index(drop = True)
_1 = afd[afd.af == 1].sample(n = 15000).reset_index(drop = True)
train = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
train = train.to_numpy()
_0 = chd[chd.af == 0].sample(n = 1000).reset_index(drop = True)
_1 = chd[chd.af == 1].sample(n = 1000).reset_index(drop = True)
test = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
test = test.to_numpy()

CPU times: user 69.6 ms, sys: 230 Âµs, total: 69.8 ms
Wall time: 68.6 ms

In [11]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_AFDB_test_2017"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

Train: 0, 1 = 15000, 15000
Class 0:
p, r, f, s = 0.90, 0.92, 0.91, 1000
Class 1:
p, r, f, s = 0.92, 0.90, 0.91, 1000

## Train 2017, Test 2017

In [25]:
%%time
chd = pd.read_csv('/hdd/physio/af2/finaldfs/2017features.csv')

CPU times: user 313 ms, sys: 0 ns, total: 313 ms
Wall time: 318 ms

In [28]:
%%time
_0 = chd[chd.af == 0].sample(n = 15000).reset_index(drop = True)
_1 = chd[chd.af == 1].sample(n = 15000).reset_index(drop = True)
train = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
train = train.to_numpy()
_0 = chd[chd.af == 0].sample(n = 1000).reset_index(drop = True)
_1 = chd[chd.af == 1].sample(n = 1000).reset_index(drop = True)
test = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
test = test.to_numpy()

CPU times: user 41.3 ms, sys: 0 ns, total: 41.3 ms
Wall time: 41.3 ms

In [29]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_2017_test_2017"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

## Train 2017, Test AFDB

In [22]:
%%time
chd = pd.read_csv('/hdd/physio/af/hugedf5secfeatures.csv')
afd = pd.read_csv('/hdd/physio/af2/finaldfs/2017features.csv')

CPU times: user 1.23 s, sys: 77.3 ms, total: 1.31 s
Wall time: 1.65 s

In [23]:
%%time
_0 = afd[afd.af == 0].sample(n = 15000).reset_index(drop = True)
_1 = afd[afd.af == 1].sample(n = 15000).reset_index(drop = True)
train = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
train = train.to_numpy()
_0 = chd[chd.af == 0].sample(n = 1000).reset_index(drop = True)
_1 = chd[chd.af == 1].sample(n = 1000).reset_index(drop = True)
test = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
test = test.to_numpy()

CPU times: user 117 ms, sys: 0 ns, total: 117 ms
Wall time: 290 ms

In [24]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_2017_test_AFDB"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

## Train CUDB, Test VFDB

In [3]:
vfdb = pd.read_csv('/hdd/physio/vf2/rpeakfeats40df.csv', index_col = 0)
cudb = pd.read_csv('/hdd/physio/vf/finaldfs/trybonsaifeatures3.csv', index_col = 0)

In [8]:
vfdb.vf.value_counts()

0    3275
1    2244
Name: vf, dtype: int64

In [6]:
cudb.vf.value_counts()

0    2585
1    1143
Name: vf, dtype: int64

In [13]:
%%time
# _0 = cudb[cudb.vf == 0].sample(n = 1143).reset_index(drop = True)
# _1 = cudb[cudb.vf == 1].sample(n = 1143).reset_index(drop = True)
# train = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
# train = train.to_numpy()
# _0 = vfdb[vfdb.vf == 0].sample(n = 500).reset_index(drop = True)
# _1 = vfdb[vfdb.vf == 1].sample(n = 500).reset_index(drop = True)
# test = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
# test = test.to_numpy()

train = cudb.to_numpy()
test = vfdb.to_numpy()

CPU times: user 1.19 ms, sys: 546 Âµs, total: 1.73 ms
Wall time: 1.02 ms

In [14]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_CUDB_test_VFDB"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

## Train AFDB, Test AFDB (5 second length, 1 second stride)

In [3]:
%%time
afd = pd.read_csv('/hdd/physio/af/hugedf5secfeatures.csv')

CPU times: user 717 ms, sys: 24.6 ms, total: 742 ms
Wall time: 740 ms

In [6]:
%%time
_0 = afd[afd.af == 0].sample(n = 18000).reset_index(drop = True)
_1 = afd[afd.af == 1].sample(n = 18000).reset_index(drop = True)
data = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
data.to_csv('/hdd/physio/af/finalscore.csv', index = False)

CPU times: user 386 ms, sys: 15.5 ms, total: 402 ms
Wall time: 401 ms

In [8]:
d = pd.read_csv('/hdd/physio/af/finalscore.csv')

In [23]:
d.af.value_counts()

0    18000
1    18000
Name: af, dtype: int64

In [19]:
%%time
_0 = afd[afd.af == 0].sample(n = 15000).reset_index(drop = True)
_1 = afd[afd.af == 1].sample(n = 15000).reset_index(drop = True)
train = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
train = train.to_numpy()
_0 = afd[afd.af == 0].sample(n = 1000).reset_index(drop = True)
_1 = afd[afd.af == 1].sample(n = 1000).reset_index(drop = True)
test = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
test = test.to_numpy()

CPU times: user 166 ms, sys: 0 ns, total: 166 ms
Wall time: 201 ms

In [20]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_AFDB_test_AFDB"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

## Train VFDB, Test VFDB

In [31]:
%%time
vfdb = pd.read_csv('/hdd/physio/vf2/rpeakfeats40df.csv', index_col = 0)

CPU times: user 12.6 ms, sys: 962 Âµs, total: 13.6 ms
Wall time: 13.9 ms

In [32]:
vfdb

,vf,RMSSD,STDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR
0,0,0.811915,0.129011,0.801600,77.221380,14.874714,63.559322,105.633803
1,0,0.821033,0.083269,0.816800,74.283999,8.159667,64.377682,89.285714
2,0,0.783983,0.091146,0.778667,78.406371,11.552355,71.770335,104.166667
3,0,0.832527,0.139241,0.820800,75.626624,15.101854,60.240964,104.166667
4,0,0.824388,0.155447,0.809600,77.066327,15.484618,60.728745,99.337748
...,...,...,...,...,...,...,...,...
5514,0,0.612400,0.222629,0.570500,124.065656,48.438161,74.257426,176.470588
5515,0,0.582319,0.222134,0.538286,131.458630,48.458291,74.257426,174.418605
5516,0,0.615648,0.228932,0.571500,124.999664,49.997374,72.463768,178.571429
5517,0,0.575841,0.219000,0.532571,132.753298,48.892212,75.757576,180.722892
5518,0,0.607269,0.220045,0.566000,124.888866,48.577367,75.757576,176.470588

In [36]:
%%time
# _0 = afd[afd.af == 0].sample(n = 15000).reset_index(drop = True)
# _1 = afd[afd.af == 1].sample(n = 15000).reset_index(drop = True)
# train = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
# train = train.to_numpy()
# _0 = afd[afd.af == 0].sample(n = 1000).reset_index(drop = True)
# _1 = afd[afd.af == 1].sample(n = 1000).reset_index(drop = True)
# test = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
# test = test.to_numpy()
train, test = train_test_split(vfdb, test_size = 0.2, random_state = 42)

CPU times: user 4.86 ms, sys: 0 ns, total: 4.86 ms
Wall time: 4.38 ms

In [37]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_VFDB_test_VFDB"

np.save(path + '/train.npy', train.to_numpy())
np.save(path + '/test.npy', test.to_numpy())

## Train CUDB, Test CUDB

In [61]:
%%time
cudb = pd.read_csv('/hdd/physio/vf/finaldfs/trybonsaifeatures3.csv', index_col = 0)

CPU times: user 14.5 ms, sys: 0 ns, total: 14.5 ms
Wall time: 13.3 ms

In [62]:
train, test = train_test_split(cudb, test_size = 0.1, random_state = 42)
print(train.vf.value_counts(), test.vf.value_counts())

0    2325
1    1030
Name: vf, dtype: int64 0    260
1    113
Name: vf, dtype: int64

In [63]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_CUDB_test_CUDB"

np.save(path + '/train.npy', train.to_numpy())
np.save(path + '/test.npy', test.to_numpy())

## Train CUDB, Test VFDB

In [68]:
%%time
vfdb = pd.read_csv('/hdd/physio/vf2/rpeakfeats40df.csv', index_col = 0)
cudb = pd.read_csv('/hdd/physio/vf/finaldfs/trybonsaifeatures3.csv', index_col = 0)

CPU times: user 22.1 ms, sys: 0 ns, total: 22.1 ms
Wall time: 21.2 ms

In [70]:
_0 = cudb[cudb.vf == 0].sample(n = 1143).reset_index(drop = True)
_1 = cudb[cudb.vf == 1].sample(n = 1143).reset_index(drop = True)
train = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
train = train.to_numpy()
_0 = vfdb[vfdb.vf == 0].sample(n = 2244).reset_index(drop = True)
_1 = vfdb[vfdb.vf == 1].sample(n = 2244).reset_index(drop = True)
test = pd.concat([_0, _1], axis = 0).sample(frac = 1).reset_index(drop = True)
test = test.to_numpy()

# train = cudb.to_numpy()
# test = vfdb.to_numpy()

In [71]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_CUDB_test_VFDB"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

In [67]:
cudb.vf.value_counts(), vfdb.vf.value_counts()

(0    2585
 1    1143
 Name: vf, dtype: int64, 0    3275
 1    2244
 Name: vf, dtype: int64)

## Train VFDB, Test CUDB

In [58]:
%%time
vfdb = pd.read_csv('/hdd/physio/vf2/rpeakfeats40df.csv', index_col = 0)
cudb = pd.read_csv('/hdd/physio/vf/finaldfs/trybonsaifeatures3.csv', index_col = 0)

CPU times: user 24.8 ms, sys: 0 ns, total: 24.8 ms
Wall time: 24.2 ms

In [59]:
train = vfdb.to_numpy()
test = cudb.to_numpy()

In [60]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/train_VFDB_test_CUDB"

np.save(path + '/train.npy', train)
np.save(path + '/test.npy', test)

## Trying time+freq domain features

### Train CUDB, Test CUDB

In [82]:
cu = pd.read_csv('/hdd/physio/vf/finaldfs/time_freq_features.csv', index_col = 0)
cu

,vf,RMSSD,SDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR,lf,hf,lf_hf_ratio,total_power,vlf
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264,1939.478779,8359.852738,0.231999,10740.573054,441.241538
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264,1712.922367,7112.985993,0.240816,9249.068433,423.160073
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908,4196.568751,15537.499334,0.270093,20534.333244,800.265159
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908,3692.942083,13527.269270,0.273000,18097.231413,877.020061
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221,1816.833024,7521.108213,0.241565,9787.482645,449.541409
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165,1056.532665,6478.046782,0.163094,7743.907815,209.328367
3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778,1200.645300,3961.072822,0.303111,5514.092053,352.373932
3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649,3101.967972,10454.393243,0.296714,14430.419775,874.058561
3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651,3197.495564,11879.347598,0.269164,15915.072325,838.229163
3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601,3363.977055,13430.154948,0.250479,17599.920092,805.788089

In [83]:
train, test = train_test_split(cu, test_size = 0.1, random_state = 42)
print(train.vf.value_counts(), test.vf.value_counts())

0    2326
1    1018
Name: vf, dtype: int64 0    257
1    115
Name: vf, dtype: int64

In [84]:
path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/freq_train_CUDB_test_CUDB"

np.save(path + '/train.npy', train.to_numpy())
np.save(path + '/test.npy', test.to_numpy())

In [78]:
import pandas as pd

In [80]:
pd.read_csv('/hdd/physio/vf/finaldfs/time_freq_features.csv', index_col = 0)

,vf,RMSSD,SDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR,lf,hf,total_power,vlf
0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264,1939.478779,8359.852738,10740.573054,441.241538
1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264,1712.922367,7112.985993,9249.068433,423.160073
2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908,4196.568751,15537.499334,20534.333244,800.265159
3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908,3692.942083,13527.269270,18097.231413,877.020061
4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221,1816.833024,7521.108213,9787.482645,449.541409
...,...,...,...,...,...,...,...,...,...,...,...,...
3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165,1056.532665,6478.046782,7743.907815,209.328367
3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778,1200.645300,3961.072822,5514.092053,352.373932
3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649,3101.967972,10454.393243,14430.419775,874.058561
3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651,3197.495564,11879.347598,15915.072325,838.229163
3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601,3363.977055,13430.154948,17599.920092,805.788089

In [81]:
pd.read_csv('/hdd/physio/vf2/time_freq_features.csv')

,Unnamed: 0,vf,RMSSD,SDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR,lf,hf,total_power,vlf
0,0,0,1.081660,0.026600,1.081333,55.521205,1.388378,54.347826,57.471264,1939.478779,8359.852738,10740.573054,441.241538
1,1,0,1.048015,0.005657,1.048000,57.253570,0.307866,56.818182,57.471264,1712.922367,7112.985993,9249.068433,423.160073
2,2,0,1.065197,0.020469,1.065000,56.358432,1.061594,54.545455,57.251908,4196.568751,15537.499334,20534.333244,800.265159
3,3,0,1.066197,0.020494,1.066000,56.305640,1.064400,54.545455,57.251908,3692.942083,13527.269270,18097.231413,877.020061
4,4,0,1.070828,0.018571,1.070667,56.056575,0.964208,54.744526,57.034221,1816.833024,7521.108213,9787.482645,449.541409
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,3723,1,0.887601,0.410447,0.787000,101.853431,50.658017,43.988270,164.835165,1056.532665,6478.046782,7743.907815,209.328367
3724,3724,1,1.382036,0.010000,1.382000,43.417613,0.314165,43.103448,43.731778,1200.645300,3961.072822,5514.092053,352.373932
3725,3725,1,1.378703,0.009978,1.378667,43.522583,0.314125,43.103448,43.859649,3101.967972,10454.393243,14430.419775,874.058561
3726,3726,1,1.378672,0.003771,1.378667,43.520634,0.118818,43.352601,43.604651,3197.495564,11879.347598,15915.072325,838.229163
3727,3727,1,1.393358,0.008219,1.393333,43.063697,0.253679,42.735043,43.352601,3363.977055,13430.154948,17599.920092,805.788089

## All detectors rpeak databases feature extraction

In [10]:
import pandas as pd
import os
import numpy as np
from ecgdetectors import Detectors
from time import time as time
import seaborn as sns
from hrvanalysis import remove_outliers, remove_ectopic_beats, interpolate_nan_values, get_time_domain_features, get_geometrical_features, get_frequency_domain_features, get_csi_cvi_features, get_poincare_plot_features, get_sampen
from time import time as time
import warnings
warnings.filterwarnings('ignore')

In [11]:
path = '/hdd/physio/vf/finaldfs/'
fs = 250

In [31]:
df = pd.read_csv(path + 'finalrpeak5secpt.csv', index_col = 0)
df

,vf,0,1,2,3,4,5,6,7,8,...,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5400,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5401,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5402,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5403,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
%%time
def featureExtraction(df, fs):
    df1 = df.vf.copy()
    df.drop(columns = ['vf'], inplace = True)
    final = list()
    for i in range(len(df)):
        peaks = []
        peaks = df.loc[i][df.loc[i] == 1].index.values
        peaks = [int(x) for x in peaks]
        if (len(peaks) == 0 or len(peaks) == 1):
            continue
        vf = df1.loc[i]
        rr = np.diff(peaks) / fs 
        hr = np.diff(peaks) / fs 
        hr = 60 / rr
        rmssd = np.sqrt(np.mean(np.square(rr)))
        sdnn = np.std(rr)
        mean_rr = np.mean(rr)
        mean_hr = np.mean(hr)
        std_hr = np.std(hr)
        min_hr = np.min(hr)
        max_hr = np.max(hr)
        time_domain_features = {'RMSSD': rmssd, 'SDNN': sdnn, 'MEAN_RR': mean_rr, 'MEAN_HR': mean_hr, 'STD_HR': std_hr, 'MIN_HR': min_hr, 'MAX_HR': max_hr}
        frequency_domain_features = get_frequency_domain_features(peaks)
        features = [time_domain_features, frequency_domain_features]
        del peaks
        new = {}
        for x in features:
            for y in x:
                new[y] = x[y]

        single_window_df = pd.DataFrame(list(new.items()))
        single_window_df = single_window_df.transpose()
        columns = single_window_df.iloc[0]
        single_window_df = single_window_df[1:]
        single_window_df.columns = columns
        single_window_df.drop(columns = ['lfnu', 'hfnu'], inplace = True)
        single_window_df.insert(0, 'vf', vf)
        final.append(single_window_df)
        del single_window_df
    return pd.concat(final)

finaldf = featureExtraction(df, fs)
finaldf.reset_index(drop = True, inplace = True)

CPU times: user 20 s, sys: 7.67 ms, total: 20 s
Wall time: 20 s

In [33]:
finaldf = finaldf.dropna(how='any')
finaldf

,vf,RMSSD,SDNN,MEAN_RR,MEAN_HR,STD_HR,MIN_HR,MAX_HR,lf,hf,lf_hf_ratio,total_power,vlf
0,0,1.067852,0.04265,1.067,56.325866,2.338151,54.347826,60.240964,4258.342621,15225.922189,0.279677,20435.091602,950.826792
1,0,1.049102,0.048083,1.048,57.372743,2.633691,54.744526,60.240964,3384.789616,12164.965843,0.278241,16415.910198,866.154739
2,0,1.065779,0.040731,1.065,56.422114,2.199265,54.347826,59.760956,4197.698864,15539.679612,0.270128,20536.859778,799.481303
3,0,1.054609,0.035833,1.054,56.992663,1.961929,54.545455,60.0,3634.194243,13257.552165,0.274123,17757.79605,866.049642
4,0,1.071833,0.049996,1.070667,56.166484,2.711889,54.151625,60.0,1788.017035,7615.317551,0.234792,9838.797681,435.463095
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4159,1,0.618066,0.305415,0.537333,144.83664,58.683088,58.365759,194.805195,3465.097837,12196.015181,0.284117,16120.01757,458.904552
4160,1,0.767839,0.347574,0.684667,118.201576,60.34155,57.471264,185.185185,5032.684618,13303.941056,0.378285,19182.002359,845.376686
4161,1,0.722874,0.324961,0.645714,119.585478,53.302582,57.471264,182.926829,6824.984046,14029.554394,0.486472,21892.743508,1038.205069
4162,1,0.727125,0.346182,0.639429,127.552448,64.228388,56.179775,227.272727,7966.202998,12214.947378,0.652168,21272.954668,1091.804292
4163,1,0.775581,0.360575,0.686667,122.476039,68.450687,56.603774,227.272727,5127.912486,13625.637734,0.376343,19474.638545,721.088324

In [34]:
finaldf.to_csv('/hdd/physio/vf/pttimefreqfeatures.csv', index = False)

## Use all detectors to train and test

In [35]:
hs = pd.read_csv('/hdd/physio/vf/hstimefreqfeatures.csv')
pt = pd.read_csv('/hdd/physio/vf/pttimefreqfeatures.csv')
sswt = pd.read_csv('/hdd/physio/vf/sswttimefreqfeatures.csv')

In [38]:
train, test = train_test_split(sswt, test_size = 0.1, random_state = 42)

path = "/hdd/physio/edgeml/examples/pytorch/Bonsai/sswt_freq_train_CUDB_test_CUDB"

np.save(path + '/train.npy', train.to_numpy())
np.save(path + '/test.npy', test.to_numpy())